name: Wasm

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Prepare cargo tests
      run: |
        rustup target add wasm32-unknown-emscripten --toolchain=nightly
        rustup component add rust-src --toolchain nightly-x86_64-unknown-linux-gnu

    - name: Build for wasm
      run: env RUSTFLAGS='-C target-feature=+atomics,+bulk-memory -Clink-arg=--shared-memory -Clink-arg=--max-memory=1073741824 -Clink-arg=--import-memory -Clink-arg=--export=__wasm_init_tls -Clink-arg=--export=__tls_size -Clink-arg=--export=__tls_align -Clink-arg=--export=__tls_base' cargo +nightly build --target=wasm32-unknown-emscripten -Zbuild-std=panic_abort,std

